body{
    background: #1f2937;
    text-align: center;
    font-family: 'Roboto', arial;
    width: 100%;
    margin: 0px;
}

.body{
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1f2937;
    padding: 0px;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    color: #F9FAF8;
    align-items: center;
    width: 100%;
    position:sticky;
    top: 0;
    z-index: 2;
}
.headerlogo{
    display: block;
}
.headerlinks{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.headerlinks a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}
.headerlinks a:hover{
    color: yellow;
}
.herotextandlogo{
    background-image: url(Images/background.jpg);
    background-size:cover;
    background-attachment: fixed;
    top: 0;
    color: white;
    height: 500px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px 0px 20px 0px;
}

.textandbutton{
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    align-items:center;
    width: 100vw;
    background-color: rgba(59, 59, 59, 0.418);
}
.textandbutton h1{
    text-align: center;
    font-size: 48px;
    font-style: extra-bold;
}
.textandbutton p{
    text-align: center;
}
.textandbutton button{
    background-color: #3882F6;
    border: 2px solid white; 
    color: white;   
    border-radius: 5px;
    padding: 5px;
}
.body{
    background-color: white;
    width: 90%;
    color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.infotext{
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
}
.infoboxcontainer{
    display:grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.infobox{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.infoimage{
    
}

.leftalign img{
    object-position: left;
}
.infoimage img{
        border: 4px solid #3882F6;
        border-radius: 25px;
        object-fit:cover;
        width: 200px;
        height: 200px;
        filter: grayscale(100%);
        transition: transform .2s, filter .2s;
}
.infoimage img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
}
.infotext{

}
.quotebox{
    background-color: #E5E7Eb;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px;
    padding: 50px;
}
.quotebox p{
    text-align: center;
    font-size: 36px;
    font-style: italic;
}

.calltoaction{
    width: 60%;
    margin: 20px;
    padding: 20px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.calltext{

}
.calltoaction button{
    background-color: #3882F6;
    border: 2px solid white; 
    color: white;   
    border-radius: 5px;
    padding: 5px;
}

.copyrightbox{
    background-color: #1f2937;
    margin:0px;
    width: 100%;
    color: white;
    font-style: italic;
}